POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=gestion_compras
POSTGRES_USER=compras_user
POSTGRES_PASSWORD=supersecret

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=myjwtsecret
JWT_EXPIRE_MINUTES=60

BACKEND_AUTH_URL=http://localhost:8001
BACKEND_PAC_URL=http://localhost:8002

VITE_API_URL=http://localhost:8002
VITE_AUTH_URL=http://localhost:8001
NODE_ENV=development
